/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
}

/* Header styles */
.header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  position: relative;
}

.logo-left {
  position: absolute;
  left: 20px; /* Adjust the distance from the left edge */
  top: 50%;
  transform: translateY(-50%);
  width: 50px; /* Adjust the size as needed */
  height: auto;
}

/* Title styles */
.title {
  margin: 0;
  text-align: center;
}

/* Main content styles */
.main-content {
  padding: 20px;
  text-align: center;
}

.main-content h2 {
  color: #61dafb;
}

/* Footer styles */
.footer {
  width: 100%; /* Make the footer cover the full width */
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer p {
  margin: 0;
}

.logo {
  width: 300px;
  height: auto;
}