/* Global.css */

@font-face {
  font-family: 'Antium';
  src: url('./fonts/Antium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Antium', Arial, sans-serif;
}

.header .title {
  font-family: 'Antium', Arial, sans-serif;
  font-size: 24px;
  margin: 0;
}
