/* Header.css */

.header {
    background-color: #282c34;
    color: white;
    padding: 20px;
    position: relative;
    width: 100%;
  }
  
  .logo-left {
    position: absolute;
    left: 20px; /* Adjust the distance from the left edge */
    top: 50%;
    transform: translateY(-50%);
    width: 50px; /* Adjust the size as needed */
    height: auto;
  }
  
  /* Title styles */
  .title {
    margin: 0;
    text-align: center;
  }
  