/* Header.css */

.header {
  background-color: white;
  color: #282c34;
  padding: 20px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header .title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.header img.logo {
  width: 50px;
  height: auto;
  cursor: pointer;
  position: absolute;
  left: 20px; /* 20px buffer from the left edge of the header */
  top: 50%; /* Center vertically */
  transform: translateY(-50%);
  z-index: 1; /* Ensure the logo is above other elements */
}



.header::before {
  content: '';
  position: absolute;
  bottom: -3px; /* Adjust position if needed */
  left: 20px;
  right: 20px;
  height: 3px;
  background-color: black;
}
