/* components/ProductsContent.css */

.products-content {
  padding: 20px;
  text-align: center;
}

.products-content h2 {
  color: #61dafb;
}

.products-content select {
  margin: 20px 0;
  padding: 10px;
  font-size: 16px;
}

.products-content p {
  margin: 10px 0;
  font-size: 18px;
}
